body {
  background-color: #1f581f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  width: 400px;
  height: 600px;
  margin-top: 100px;
  background-color: #d8d7d7;
  border-radius: 10px;
}

.square {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: red;
  right: 75%;
  bottom: 50%;
}

.square-2 {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    right: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
}